.read-more {
    display: inline-flex;
    gap: 13px;
    align-items: center;
    color: var(--ui-orange);
    font-size: 14px;
    font-weight: 500;
    line-height: 185%; /* 25.9px */
    font-family: var(--font-main);

    &::after {
        content: url(./../img/icons/arrow-right.svg);
        height: 24px;
    }

    &--large {
        font-size: 18px;
    }
}